{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="vh-100">
    <div class="container py-4 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="d-flex justify-content-center align-items-center">
          <h2>ADD FILES</h2>
        </div>
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="{% static 'img/addfile.svg' %}" class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
              <div class="form-outline mb-2">
                <label class="form-label">Name of File</label>
                <input type="text" name="nameFile" class="form-control" />
              </div>
  
              <div class="form-outline mb-2">
                <label class="form-label">Description No</label>
                <input type="text" name="description" class="form-control" />
              </div>
  
              <div class="form-outline mb-2">
                <label class="form-label">Document</label>
                <input type="file" name="docs" multiple class="form-control" required  />
              </div>

              <div class="form-outline mb-2">
                <label class="form-label">Other</label>
                <input type="file" name="other_docs" multiple class="form-control" required  />
              </div>
              
              <!--
                <div class="form-outline mb-2">
                  <label class="form-label">Folder</label>
                  <input type="text" name="description" class="form-control" />
                </div>
              
                
              <div class="form-outline mb-2">
                <label class="form-label">Department</label>
                <input type="text" name="description" class="form-control" />
              </div>
            
            -->
              <!-- Submit button -->
            </fieldset> 
              <button type="submit" class="btn btn-success btn-lg btn-block d-flex justify-content-center align-items-center">Upload</button> 
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}